:root {
  --base-font-family: "Operator SSm A", "Operator SSm B";
  --base-font-weight: 400;
  --base-color: white;
  --base-font-size: 11px;

  --modular-scale: 1.2;
  --mono-hue: 205;
  --mono-saturation: 25%;

  --sidebar-width: 22rem;
  --sidebar-nav-link-before-content: "";
  --sidebar-nav-link-before-content-l3: "";
  --sidebar-name-font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  --sidebar-name-font-weight: 500;
  --link-color: white;

  --search-result-heading-font-size: 1em;
  --search-result-item-font-size: 0.9em;

  --pre-font-family: "Operator Mono SSm A", "Operator Mono SSm B";

  --heading-font-family: "Operator SSm A", "Operator SSm B";
  --heading-font-weight: 500;
  --heading-h1-font-weight: 700;

  --heading-h1-font-size: 2em;

  --notice-font-family: "Operator SSm A", "Operator SSm B";
  --notice-font-style: italic;
  --notice-font-weight: 500;

  --blockquote-em-font-family: "Operator SSm A", "Operator SSm B";
  --blockquote-em-font-style: normal;
  --blockquote-em-font-weight: 700;

  --blockquote-font-family: "Operator SSm A", "Operator SSm B";
  --blockquote-font-style: italic;
  --blockquote-font-weight: 500;

  --code-font-family: "Operator Mono SSm A", "Operator Mono SSm B";
  --code-font-size: 1em;
  --code-font-weight: 500;
  --code-tab-size: 2;
}

h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

h3 > a:nth-child(2) {
  text-decoration: none;
}

a.section-link {
  display: none;
}

.sidebar-nav > ul:nth-child(1) > li > a.section-link,
.sidebar-nav > ul:nth-child(1) > li > ul.children > li > a.section-link {
  display: block;
}
